// Set variables for font faces here
$Roboto: 'Roboto', sans-serif;
$Oswald: 'Oswald', sans-serif;

// SHADOW
$shadow-white: 0 1px 0 white;

// Letter spacing
$ls-xl: 0.1em;
$ls-lg: 0.06em;
$ls-md: 0.04em;
$ls-sm: 0.02em;
$ls-xs: 0.01em;

// Line height
$lh-lg-x: 2;
$lh-lg: 1.6;
$lh-md: 1.4;
$lh-xs: 1.2;
$lh-sm: 1.1;

//13px
$fs-title-small: 0.8125rem;
//14px
$fs-base: 0.875rem;
//15px
$fs-large: 0.9375rem;
//18px
$fs-middle-large: 1.125rem;
//50px
$fs-extra-large: 3.125rem;


//15px = 1rem (base)
//17px = 1.133rem
//19px = 1.267rem
//21px = 1.4rem
//27px = 1.8rem
//33px = 2.2rem
//49px = 3.267rem
//61px = 4.067rem
